body{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
}
#btn{
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#btn:hover{
    background-color: slategrey;
    color: #fff;
}
